<html ng-app>
<body>
	<head>
		<script src="js/angular.min.js"></script>
		<script>
			function MenuController($scope){
				$scope.menuState = {};
				$scope.menuState.show = false;

				$scope.toggleMenu = function(){
					$scope.menuState.show = !$scope.menuState.show;
				};

				$scope.stun = function(){
					$scope.menuState.show = alert("wtf");
				}
			}
		</script>
	</head>

	<div ng-controller="MenuController">
		<button ng-click="toggleMenu()">Toggle Menu</button>
		<ul ng-show="menuState.show">
			<li ng-click='stun()'>Stun</li>
			<li ng-click='disintegrate()'>Disintegrate</li>
			<li ng-click='erase()'>Erase</li>
		</ul>
	</div>



</body>
</html>